@import "../../styles/variable.scss";

.priceDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 3.75rem;
  font-weight: 100;
  margin-top: -10px;
  color: $theme_color_light;
  span {
    font-size: 1rem;
    font-weight: 500;
  }

  .deadline {
    font-size: 1rem;
    color: $theme_color_dark;
  }
}
